/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */
body {
  font-family: 'Raleway', sans-serif;
}

/* Header */
header {
  padding: 10px;
  background-color: #fff;
}

header h1 {
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: bold;
}

header a {
  text-decoration: none;
  color: #444;
}

header > .header-menu {
  list-style: none;
  text-align: center;
  padding: 10px 0px;
}

.header-menu li {
  display: inline;
}

.header-menu li a {
  text-decoration: none;
  color: #444;
  padding: 0px 8px;
}

/* Main Content */
.content h2 {
  text-align: center;
}

.top-line {
  border-top: 1px solid #eee;
  padding-top: 20px;
}

/* Home */
.home-img {
  text-align: center;
  height: 500px;
  background-image: url("../img/jane.jpg");
  background-position: 25%;
  background-size: cover;
  background-repeat: no-repeat;
}

/* About */
.profile-img {
  margin: 20px auto 20px;
}

.profile-img > img {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.testimonials q {
  display: block;
  text-align: center;
  font-weight: 700;  
  padding: 20px 0px 10px;
}

.testimonials cite {
  display: block;
  text-align: center;
  font-style: normal;
  font-size: 14px;
}

/* Contact */

.contact {
  margin: 0px 20%;
}

.contact address {
  font-style: normal;
  padding: 10px 0px;
  border-bottom: 1px solid #ddd;
} 

.contact address:last-child{
  border: none;
  margin-bottom: 20px;
}

.contact h2 {
  text-align: left;
}

.contact address .name {
  font-weight: 700;
  padding-bottom: 5px;
}

.contact address .email, .phone {
  font-size: 14px;
  padding: 4px 0px;
}

/* Footer */
footer {
  text-align: center;
  background-color: #ddd;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}